body {
	font-family: sans-serif;
	background: #eee;
	padding-left: 10px;
	padding-right: 10px;
}

input[type="text"], input[type="password"] {
	width: 85%;
}

.error {
	color: red;
}

.header {
	position: relative;
	width: 100%;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.correct {
	color: #00C000;
}

a, h1, h2 {
	color: #377BA8;
}

h1, h2 {
	font-family: 'Georgia', serif;
	margin: 0;
	border-bottom: 2px solid #eee;
}

textarea {
	/*border: 1px solid #eee;*/
	width: 600px;
	height: 300px;
}

/*.editor-scroll {
  overflow-y: hidden;
  overflow-x: auto;
*/}