<!DOCTYPE html>
<html>
<head>
	<title>Programming Exercises</title>
	<link type="text/css" rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="/static/prog.css" />
	
</head>
<body>
	<div class="row-fluid">
		<div class="span12">
			<h1>
				<a href="{% url mainView %}">Programming Exercises</a>
			</h1>
			<br/>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span2">
			{% if user.is_authenticated %}
				Welcome, {{user.username}} <br/>
				<a href="{% url logoutView %}">Logout</a> <br/>
				<a href="{% url accountView %}">My Account</a>
			{% endif %}

			{% if not user.is_authenticated %}
				<form id="loginForm" method="post" action="{% url loginView %}">
					{% csrf_token %}
					Username: <br/>
					<input type="text" name="username"/>
					Password: </br>
					<input type="password" name="password" />
					<input type="submit" value="Login" />
				</form>
				{% if messages %}
					{% for message in messages %}
    					<span class="error">{{ message }}</span>
    					<br/>
    				{% endfor %}
				{% endif %}
				<a href="{% url signupView %}">Signup</a>
			{% endif %}
			<br/>
			<a href="{% url allProblemsView %}">View all problems</a>
		</div>

		<div class="span10">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	
</body>
</html>